/* stylelint-disable */


.featured-article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1em;
    font-family: var(--heading-font-family);
}
#all-articles {
    font-family: var(--heading-font-family);
    color: var(--global-title-color);
    font-weight: normal;
    margin-bottom: 15px;
}
#all-articles::after{
    border-bottom: 2px solid var(--brandPrimary, #ffea00);
    content: "";
    display: block;
    padding-top: 8px;
    width: 84px;
}
.featured-article .image {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    flex: 2;
}

.featured-article .image picture {
    width: 100%;
    height: 100%;
}

.featured-article .image img {
    margin-top: 0;
    margin-bottom: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.featured-article .text {
    display: flex;
    font-family: var(--body-font-family);
    flex-direction: column;
    flex: 1;
    background-color: #ebebeb;
    padding: 3.5em 2em 2em;
}

.featured-article .text p {
    font-family: var(--body-font-family);
    font-size: 14px;
    margin: 0;
    line-height: 1.75;
}

.featured-article .text p.pretitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    line-height: 1.75;
}

@media (width <= 1024px) {
.featured-article-wrapper .featured-article {
    display: block;
    
}
.featured-article .text {
    margin-top: -12px;
}
}